[user]
	name = 
	email = 
	signingKey = 
[push]
	# Pushes only curent branch upstream (as opposed to "matching" (default) which would push all branches)  
	default = upstream 
[credential]
	helper = osxkeychain
[help]
	# If there is only one matching command, it will execute it after X dediseconds (1/10s)
	autocorrect = 1
[color]
	# Colors the output by default
	ui = true
[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
	df = diff
	dc = diff --cached
	lg = log -p
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	lm = log --color=always --author=Majek --format='%C(cyan)%aD %Cgreen%h %Creset%<(56,trunc)%s' --branches --graph
	ls = ls-files
	f = fetch
	lr = pull -r
	cm = co master
	cd = co develop
	pf = push --force-with-lease
	cp = cherry-pick
	ss = stash push -u

	# Show files ignored by git:
	ign = ls-files -o -i --exclude-standard

	# Show unpushed commits in current branch
	lolu = log --graph --decorate --pretty=oneline --abbrev-commit @{u}..
[branch]
	autosetupmerge = true
[core]
	autocrlf = input
	editor = vim
[rerere]
	enabled = true
[commit]
	gpgsign = true
